#support-event  {
	width:100%;
    background-color: #ed1b2f;
    padding:10px;
    color: #fff;
}

#support-event p {
	margin:0px 20px 0px 0px;
}

#support-event a {
	color: #fff;
	background-color: black;
	font-size: 14px;
	margin:5px 10px 0px 0px;
	
}

#support-event a:hover {
	color: #fff;
	background-color: #e7e7e7;
}

#support-event img {
	margin-left: 10px;
	height: 25px;
	width: 25px;
}

#support-event .col-xs-6 {
	padding-left: 0px;
	padding-right: 0px;
	}